@font-face {
    font-family: "Montserrat Alternates";
    src: local("Montserrat Alternates"),
        url("/fonts/MontserratAlternates-Regular.woff2") format("woff2"),
        url("/fonts/MontserratAlternates-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat Alternates";
    src: local("Montserrat Alternates SemiBold"),
        url("/fonts/MontserratAlternates-SemiBold.woff2") format("woff2"),
        url("/fonts/MontserratAlternates-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}


@font-face {
    font-family: "Great Vibes";
    src: local("Great Vibes"),
        url("/fonts/GreatVibes-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

$site-width: 1224px;

$font-primary: "Montserrat Alternates", sans-serif;
$font-secondary: "Great Vibes", sans-serif;

$light-bg: #FFFBF7;
$dark-elements: #444041;
$gold-accent: #FFD233;
$purple-accent: #9F58C1;
$green-accent: #94C7A3;

$text-color: #000000;
$base-font-size: 20px;
$line-height: 24px;

$border-radius: 12px;