@charset "UTF-8";
@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates"), url("/fonts/MontserratAlternates-Regular.woff2") format("woff2"), url("/fonts/MontserratAlternates-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates SemiBold"), url("/fonts/MontserratAlternates-SemiBold.woff2") format("woff2"), url("/fonts/MontserratAlternates-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Great Vibes";
  src: local("Great Vibes"), url("/fonts/GreatVibes-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
.main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px 54px;
  width: 1224px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: normal;
  border-radius: 16px;
  background: rgba(255, 251, 247, 0.7);
}

/*----------------------------------------------------Главная кнопка-----------------------------------------------------------------*/
.choose-weapon-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto 36px auto;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 32px;
  line-height: 39px;
  border: none;
  background: none;
  cursor: pointer;
}
.choose-weapon-btn:hover {
  color: #FFFBF7;
}
.choose-weapon-btn::before, .choose-weapon-btn::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 39px;
  background-image: url("/img/Vectorузор кнопки.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
}
.choose-weapon-btn::before {
  left: -52px;
}
.choose-weapon-btn::after {
  right: -52px;
  transform: translateY(-50%) scaleX(-1);
}

/*----------------------------------------------------Строка заголовка-----------------------------------------------------------------*/
.content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.content-header .weapon-filters-sort {
  display: flex;
  gap: 16px;
  align-items: end;
}
.content-header .weapon-filters-sort .sort-by {
  position: relative;
}
.content-header .weapon-filters-sort .sort-by .weapon-filter-select {
  text-align: right;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.content-header .weapon-filters-sort .sort-by .weapon-filter-select option {
  padding: 5px;
  background-color: rgba(255, 251, 247, 0.7);
  color: #444041;
  border-radius: 12px;
  cursor: pointer;
}
.content-header .weapon-filters-sort .sort-by .weapon-filter-select option:hover {
  background-color: #444041;
}
.content-header .weapon-filters-sort .sort-by .weapon-filter-select:focus {
  outline: none;
  box-shadow: none;
}
.content-header .weapon-filter-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 22px;
  background-color: rgba(35, 36, 38, 0.5);
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
.content-header .weapon-filter-item .filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0%;
  display: none;
  gap: 8px;
  padding: 4px 8px;
  margin-top: 4px;
  background-color: rgba(255, 251, 247, 0.5);
  border-radius: 12px;
  z-index: 100;
  white-space: nowrap;
  cursor: auto;
}
.content-header .weapon-filter-item .filter-dropdown label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: #444041;
  border-radius: 50%;
  cursor: pointer;
}
.content-header .weapon-filter-item .filter-dropdown label svg {
  width: 22px;
}
.content-header .weapon-filter-item:hover .filter-dropdown {
  display: flex;
}
.content-header .weapon-filter-item.in-stock label {
  cursor: pointer;
}
.content-header .weapon-filter-item input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

/*----------------------------------------------------Список карточек-----------------------------------------------------------------*/
.weapon-card-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.weapon-card-list .weapon-card {
  position: relative;
}
.weapon-card-list .weapon-card .weapon-img {
  width: 200px;
  height: 280px;
}
.weapon-card-list .weapon-card .weapon-info {
  position: absolute;
  top: 35px;
  right: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.weapon-card-list .weapon-card .weapon-info .weapon-info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: white;
  background-color: #444041;
  border-radius: 50%;
  border: 1px solid;
  box-sizing: border-box;
}
.weapon-card-list .weapon-card .weapon-info .weapon-info-item.owner {
  position: absolute;
  top: -62px;
  width: 56px;
  height: 56px;
  background: none;
}
.weapon-card-list .weapon-card.five-stars .weapon-info-item {
  border-color: #FFD233;
}
.weapon-card-list .weapon-card.five-stars .weapon-info-item svg {
  fill: #FFD233;
}
.weapon-card-list .weapon-card.four-stars .weapon-info-item {
  border-color: #9F58C1;
}
.weapon-card-list .weapon-card.four-stars .weapon-info-item svg {
  fill: #9F58C1;
}/*# sourceMappingURL=weapon.css.map */